# Set these in Netlify > Project configuration > Environment variables
APPS_SCRIPT_API_URL=https://script.google.com/macros/s/PASTE_YOUR_DEPLOYMENT_ID/exec
APPS_SCRIPT_API_SECRET=PASTE_SECRET_FROM_generateNetlifyApiSecret
